<div class="section-2" id="section-2">
    <div class="container">

        <h2 class="h2">Мы специализируемся </h2>

        <ul class="section-2__list">
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-1.png" alt="">
                </div>
                <div class="section-2__list_item_title">Офисные помещения</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-2.png" alt="">
                </div>
                <div class="section-2__list_item_title">Торговые помещения</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-3.png" alt="">
                </div>
                <div class="section-2__list_item_title">Свободное назначение</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-4.png" alt="">
                </div>
                <div class="section-2__list_item_title">Складские помещения</div>
            </li>
        </ul>

    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->