<div class="header">
    <div class="container">

        <div class="header__block">
            
            <div class="header__left">
                <div class="header__logo">
                    <img src="../../assets/img/logo.png" alt="">
                </div>
            </div>
            <!-- /.header__left -->

            <div class="header__right">

                <div class="header__info">
                    <div class="header__info_tel">
                        <div class="header__info_tel_label">Звоните</div>
                        <a href="tel:89372929202" class="header__info_tel_link">8 (937) 29-29-202</a>
                    </div>
                    <div class="header__info_address">Казань, Адоратского 61</div>
                    <button class="header__info_btn btn-modal-call">Запросить консультацию</button>
                </div>
                <!-- /.header__info -->

                <nav class="navigation">
                    <a href="#section-2" class="navigation__link js-anchor">Мы специализируемся</a>
                    <a href="#section-3" class="navigation__link js-anchor">Выгодно</a>
                    <a href="#section-5" class="navigation__link js-anchor">Результат</a>
                    <a href="#section-6" class="navigation__link js-anchor">Контакты</a>
                </nav>
                <!-- /.navigation -->

            </div>
            <!-- /.header__right -->
            
        </div>
        <!-- /.header__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.header -->