<div class="section-5" id="section-5">
    <div class="container">

        <h2 class="h2">результат</h2>
        
        <div class="section-5__grid">
            <div class="section-5__grid_item">
                <div class="section-5__grid_item_icon">
                    <img src="../../assets/img/icons/section-5__icon-1.svg" alt="">
                </div>
                <div class="section-5__grid_item_title">Через 1 месяц</div>
                <div class="section-5__grid_item_desc">
                    Вы получаете аренду - недвижимость
                    "работает"
                </div>
            </div>
            <div class="section-5__grid_item">
                <div class="section-5__grid_item_icon">
                    <img src="../../assets/img/icons/section-5__icon-2.svg" alt="">
                </div>
                <div class="section-5__grid_item_title">
                    Нет "дыры" <br>
                    на вашем счете
                </div>
                <div class="section-5__grid_item_desc">"Не утекают" деньги за "коммуналку"</div>
            </div>
            <div class="section-5__grid_item">
                <div class="section-5__grid_item_icon">
                    <img src="../../assets/img/icons/section-5__icon-3.svg" alt="">
                </div>
                <div class="section-5__grid_item_title">
                    Стабильно получаете
                    прибыль
                </div>
                <div class="section-5__grid_item_desc">От своей недвижимости</div>
            </div>
            <div class="section-5__grid_item">
                <div class="section-5__grid_item_icon">
                    <img src="../../assets/img/icons/section-5__icon-4.svg" alt="">
                </div>
                <div class="section-5__grid_item_title">Ваше время - Ваше удовольствие</div>
                <div class="section-5__grid_item_desc">Мы работаем - мы находим арендаторов</div>
            </div>
        </div>
        <!-- /.section-5__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-5 -->