<div class="section-4">
    <div class="container">

        <h2 class="h2">Мы находим арендаторов</h2>

        <ul class="section-4__list">
            <li class="section-4__list_item">
                52 арендатора <br>
                на 4589 м.кв.
            </li>
            <li class="section-4__list_item">
                До 10 заявок <br>
                ежедневно
            </li>
            <li class="section-4__list_item">
                База сетевых <br>
                арендаторов
            </li>
        </ul>

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->