<div class="section-3" id="section-3">
    <div class="container">

        <h2 class="h2">выгодно, если</h2>

        <div class="section-3__grid">
            <div class="section-3__grid_item">
                <div class="section-3__grid_item_title">5%  "простой"</div>
                <div class="section-3__grid_item_desc">
                    5% и более Ваших площадей <br>
                    простаивает
                </div>
            </div>
            <div class="section-3__grid_item">
                <div class="section-3__grid_item_title">2 месяца убыток</div>
                <div class="section-3__grid_item_desc">
                    Вы оплачиваете "коммуналку" <br>
                    за свой счет
                </div>
            </div>
            <div class="section-3__grid_item">
                <div class="section-3__grid_item_title">2 месяца недополучен доход</div>
                <div class="section-3__grid_item_desc">
                    Нет арендаторов и нет выручки от аренды
                </div>
            </div>
            <div class="section-3__grid_item">
                <div class="section-3__grid_item_title">нет времени</div>
                <div class="section-3__grid_item_desc">
                    Не хватает времени самому искать арендатора
                </div>
            </div>
        </div>
        <!-- /.section-3__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->